# Python bytecode & cache
__pycache__/
*.pyc

# Ignore all model files except the placeholder
models/*
!models/put_models_here

# Ignore all profiles except anima, bonsai example .env
profiles/*
!profiles/anima.env
!profiles/bonsai.env

# Ignore all generated outputs except the demo image
output/*
!output/output_anima_demo.png

_legacy